@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: rgb(100, 100, 100);
}


.container-center-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.text-cen {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}


h1.title {
    color: rgb(231, 254, 255);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.58);
    padding: 20px;
}
.sub-title {
    color: rgb(151, 205, 187);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.58);
    border-bottom: 1px solid rgb(104, 227, 230);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 10%;
}

.statics-container {
    border: 1px solid rgb(255, 255, 255);
    width: fit-content !important;
    min-height: 400px;
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(216, 216, 216);
    margin: 10px 0;
}
.stat-title {
    padding: 10px 20px;
    background: white;
    font-size: 20px;
    letter-spacing: 1.3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.358);
}
.stat-body {
    border: 3px solid black;
    min-height: 300px;
    margin: 30px 30px;
    width: fit-content;
    border-radius: 3px;
    border-right: none;
    border-top: none;
    display: flex;
    gap: 20px;
    padding: 0 30px;
    align-items: flex-end;
}
.stat-body > .item {
    text-align: center;
    background: rgb(179, 138, 228);
    color: white;
    width: 40px;
    padding: 5px;
    transition: 0.5s;
    height: 0px;
    font-size: 12px;
}
.stat-body:nth-child(1) {
    background: rgb(187, 132, 50);
}

.bC1 {
    background: rgb(164, 153, 91) !important;
}